body {
    font-family: Arial, sans-serif;
    background-image: url("../images/bockchain-network-background.webp");
    background-color: #303030;
    color: #F0F1F2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 500px;
    background-color: #222226;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.container h1 {
    text-transform: capitalize;
}

.quiz-screen {
    display: none;
}

#question-container {
    background-color: #303030;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#question-text {
    font-size: 24px;
    margin-bottom: 10px;
}

#options-list {
    list-style: none;
    padding: 0;
}

.option {
    margin: 10px;
    padding: 10px;
    background-color: #737672;
    border-radius: 5px;
    cursor: pointer;
}

#next-button {
    padding: 10px 20px;
    background-color: #377E80;
    color: #F0F1F2;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}